# Top-most EditorConfig file
root = true

# All files
[*]

# C++ files
[*.{c++,cc,cpp,cppm,cxx,h,h++,hh,hpp,hxx,inl,ipp,ixx,tlh,tli}]

# https://editorconfig.org/#supported-properties

# charset: set to "latin1", "utf-8", "utf-8-bom", "utf-16be" or "utf-16le" to control the character set.
charset = utf-8

# end_of_line: set to "lf", "cr", or "crlf" to control how line breaks are represented.
end_of_line = lf

#indent_style = tab
#indent_size = 4
#trim_trailing_whitespace = true
#insert_final_newline = true
