# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs/
x64/
Debug/
Release/
*.aps

build/
bin/
cmake

/Th10Ai.sln
/Base/Base.vcxproj
/Base/Base.vcxproj.filters
/Base/Base.vcxproj.user
/Th10Base/Th10Base.vcxproj
/Th10Base/Th10Base.vcxproj.filters
/Th10Base/Th10Base.vcxproj.user
/Th10Hook/Th10Hook.vcxproj
/Th10Hook/Th10Hook.vcxproj.filters
/Th10Hook/Th10Hook.vcxproj.user
/Th10Ai/Th10Ai.vcxproj
/Th10Ai/Th10Ai.vcxproj.filters
/Th10Ai/Th10Ai.vcxproj.user
